.vscode/*
.idea/
.zed/
*.log
.DS_Store
.codex

!.vscode/launch.json

.cache/

cmake-build-*/
build/

bin/

# 参考项目
rockit-test/
Smart_Glasses_Subcode/
aipc_old/
visiong_test/

# 前端构建产物 (Node.js)
www/node_modules/
www/dist/
